<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="PowerPatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <PowerPatcher.Properties.Settings>
            <setting name="RequireAdmin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeletePartFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteZips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteContent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="Locale" serializeAs="String">
                <value>North America</value>
            </setting>
            <setting name="CloseAfterStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="PostArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="WarnIfNotInMabiDir" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartupPage" serializeAs="String">
                <value>http://mabinogi.nexon.net/launcher</value>
            </setting>
            <setting name="TargetName" serializeAs="String">
                <value>client.exe</value>
            </setting>
        </PowerPatcher.Properties.Settings>
    </userSettings>
</configuration>
